<%= form_tag(welcome_index_path, method: "get") do %>
  <%= label_tag(:q, "Choose category:") %>
  <br>
  <%= select_tag("category", options_for_select(@cat)) %>
  <br>
  <br>
  <%= submit_tag("Confirm") %>
<% end %>
<br>
<br>

<h1><%= @cat_name %></h1>
<div class="table-responsive">
	<table class="table table-bordered">
		<thead> 
			<tr>
			 <th>Shop name <%= link_to "&dArr;".html_safe, welcome_index_path(:type => "shop_id", :category => params[:category]), class: 'btn btn-default' %></th>
			 <th>Image</th> 
			 <th>Name <%= link_to "&dArr;".html_safe, welcome_index_path(:type => "name", :category => params[:category]), class: 'btn btn-default' %></th> 
			 <th>Price <%= link_to "&dArr;".html_safe, welcome_index_path(:type => "price", :category => params[:category]), class: 'btn btn-default' %></th> 
			 <th>Weight <%= link_to "&dArr;".html_safe, welcome_index_path(:type => "weigth", :category => params[:category]), class: 'btn btn-default' %></th> 
			</tr> 
		</thead>
		<tbody>
<% @c.each do |i| %>
<tr>
<th scope="row"><span><%= Shop.find(i.shop_id).shop_name %></span></th>
<% i.image_url = "http://sushihouse.by" + i.image_url if i.image_url[/\/upload\//]%>
<td><img src="<%= i.image_url %>" style="width:220px;height:100px"></td>
<td><span><%= i.name %></span></td>
<td><span><%= i.price %></span></td>
<td><span><%= i.weigth.to_s + " г" %></span></td>
</tr> 
<% end %>
</tbody>
	</table>
<%= paginate @c unless @c.empty? %>